.settings-modal {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    z-index: 1000; 
}

.settings-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
}

.settings-header label {
    font-size: 16px;
    margin-right: 10px;
}

.settings-header input {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settings-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.setting-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.setting-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

